<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>CameraMan needs camera access to show your video preview in a floating window.</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
